# Applying Doccano made Customer NER on raw csv file

In [15]:
import numpy as np
import pandas as pd
import spacy
from spacy.pipeline import EntityRecognizer

In [8]:
df = pd.read_csv('df_combined_all_raw_v2.csv', encoding='latin1', index_col='Index')
#have to make encoding latin1 because it gives an error if reading in utf-8

In [9]:
df

,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,[URGENT] - Solutions Architect (Big Data),YONDU INC.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/[urgent]-s...,Job Description\nRoles and Responsibility of S...,Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4695,Senior Python Engineer,"Viyahe Philippines, Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/senior-pyt...,Job Highlights\nCompetitive compensation packa...,Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4696,Cloud Data Engineers - Perm - Night,Nityo Infotech Services Philippines Inc.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/cloud-data...,Job Description\nRequirements:\nCandidate must...,Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4697,ETL Data Integration Developer,"RCG Information Technology (Philippines), Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-data-i...,Job Description\nQualifications: \nBachelor's/...,Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4698,ETL Developer / Data Integration Engineer,RingCentral,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-develo...,Job Description\nThe ETL Developer / Data Inte...,Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['Job Title', 'Company', 'Industry', 'Location', 'Country', 'Website',
       'URL to Job', 'Job Description', 'Search Term Used', 'Age', 'Size',
       'EmploymentType', 'Data Skills - Specific', 'Data Skills - General',
       'Experience (years)', 'Education Level', 'Degree', 'Salary',
       'Salary(Provided)'],
      dtype='object')

In [11]:
df.shape

(4699, 19)

In [16]:
nlp = spacy.load('en_core_web_md', disable=['ner'])
ner = EntityRecognizer(nlp.vocab)
ner.from_disk('./spacytrain/to/ner')
nlp.add_pipe(ner,"custom_ner")
print(nlp.meta['pipeline'])

['tagger', 'parser', 'custom_ner']

C:\Users\knocom\anaconda3\lib\site-packages\spacy\_ml.py:304: UserWarning: [W019] Changing vectors name from en_core_web_md.vectors to en_core_web_md.vectors_0, to avoid clash with previously loaded vectors. See Issue #3853.
  warnings.warn(Warnings.W019.format(old=old_name, new=new_name))

In [23]:
doc=nlp(u'We are seeking a Data Scientist skilled in machine learning and algorithms. Should be knowledgeable on Python, R and SQL. Must have 10-15 years of experience and a graduate of a quantitative degree such as a Bachelor or Master in Statistics, IT, or Mathematics.')
for ent in doc.ents:
    print(ent.text, ent.label_)

machine learning GEN_SKILL
algorithms GEN_SKILL
Python SPEC_SKILL
R SPEC_SKILL
SQL SPEC_SKILL
10-15 years YRS_OF_EXP
Bachelor or Master EDUCATION_LVL
Statistics DEGREE
IT DEGREE
Mathematics DEGREE

In [ ]:
from spacy import displacy
displacy.serve(doc, style="ent")

In [37]:
def get_spec_skill(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='SPEC_SKILL']

def get_gen_skill(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='GEN_SKILL']

def get_yrs_of_exp(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='YRS_OF_EXP']

def get_educ_level(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='EDUCATION_LVL']

def get_degree(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='DEGREE']    

def get_salary(text):
    doc = nlp(text)
    return [x.text for x in doc.ents if x.label_=='SALARY']

In [39]:
#this will take awhile maybe around 30mins
df['Data Skills - Specific'] = df['Job Description'].apply(get_spec_skill)
df['Data Skills - General'] = df['Job Description'].apply(get_gen_skill)
df['Experience (years)'] = df['Job Description'].apply(get_yrs_of_exp)
df['Education Level'] = df['Job Description'].apply(get_educ_level)
df['Degree'] = df['Job Description'].apply(get_degree)
df['Salary'] = df['Job Description'].apply(get_salary)

In [40]:
df

,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"[Spark, R, Python, Scala, Google Cloud Platfor...","[machine learning models, statistical theory, ...",[3 years],"[Master's degree, Bachelor's (]",[quantitative field],"[60000 - 70000, Peso, Php60,000.00 - Php70,000...",NaN
1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"[Java, Python]","[data transformation, pattern recognition, pre...",[Two years],[],[Engineering],[],NaN
2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"[Microsoft Power BI, SQL, Python, PowerShell, ...","[report writing, propose workflow, statistical...",[5 years],[college technical degree],[],[],NaN
3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"[SAS, SPSS, R, Python, Tableau, QlikView, ggpl...","[statistical tests, distributions, maximum lik...",[],[],"[Statistics, Math, Computer Science, Engineeri...",[],NaN
4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,[],"[data modelling, create algorithms, predictive...",[],[],"[Data Science, Statistics, IT, math]","[Php80,000.00 per month]",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,[URGENT] - Solutions Architect (Big Data),YONDU INC.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/[urgent]-s...,Job Description\nRoles and Responsibility of S...,Data Engineer,NaN,NaN,NaN,"[Oracle, Teradata, PowerBI, Tableau, Cognos, T...","[Data Warehousing, ETL, machine learning]",[],[],[],[],NaN
4695,Senior Python Engineer,"Viyahe Philippines, Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/senior-pyt...,Job Highlights\nCompetitive compensation packa...,Data Engineer,NaN,NaN,NaN,"[AWS Cloud services\n, Python]","[integration tests, Software Abstraction, Sepa...",[],[],[Computer Science],[],NaN
4696,Cloud Data Engineers - Perm - Night,Nityo Infotech Services Philippines Inc.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/cloud-data...,Job Description\nRequirements:\nCandidate must...,Data Engineer,NaN,NaN,NaN,"[Google Cloud Platform, AWS, Azure SQL]","[ETL, Data Warehousing, Data Warehouse]",[3 year(s)],[Bachelor's/College Degree],"[Computer Science, Information Technology]",[],NaN
4697,ETL Data Integration Developer,"RCG Information Technology (Philippines), Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-data-i...,Job Description\nQualifications: \nBachelor's/...,Data Engineer,NaN,NaN,NaN,"[Azure Data Factory Ingestion Development, Azu...","[Data Warehouse, Data warehouse]",[7+ years],[Bachelor's/College Degree],"[Computer Science, Information Technology, Eng...",[],NaN
4698,ETL Developer / Data Integration Engineer,RingCentral,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-develo...,Job Description\nThe ETL Developer / Data Inte...,Data Engineer,NaN,NaN,NaN,"[Hadoop, Salesforce, Marketo, Tableau, Talend,...",[ETL],[2-4 years],[BS],[],[],NaN

In [41]:
#df.to_csv('df_EskwelabsCapstone.csv')

# Data Cleaning Steps to get Final CSV file

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
df = pd.read_csv('df_EskwelabsCapstone.csv')

In [3]:
df

,Index,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
0,0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"['Spark', 'R', 'Python', 'Scala', 'Google Clou...","['machine learning models', 'statistical theor...",['3 years'],"[""Master's degree"", ""Bachelor's (""]",['quantitative field'],"['60000 - 70000', 'Peso', 'Php60,000.00 - Php7...",NaN
1,1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"['Java', 'Python']","['data transformation', 'pattern recognition',...",['Two years'],[],['Engineering'],[],NaN
2,2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"['Microsoft Power BI', 'SQL', 'Python', 'Power...","['report writing', 'propose workflow', 'statis...",['5 years'],['college technical degree'],[],[],NaN
3,3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"['SAS', 'SPSS', 'R', 'Python', 'Tableau', 'Qli...","['statistical tests', 'distributions', 'maximu...",[],[],"['Statistics', 'Math', 'Computer Science', 'En...",[],NaN
4,4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,[],"['data modelling', 'create algorithms', 'predi...",[],[],"['Data Science', 'Statistics', 'IT', 'math']","['Php80,000.00 per month']",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,4694,[URGENT] - Solutions Architect (Big Data),YONDU INC.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/[urgent]-s...,Job Description\nRoles and Responsibility of S...,Data Engineer,NaN,NaN,NaN,"['Oracle', 'Teradata', 'PowerBI', 'Tableau', '...","['Data Warehousing', 'ETL', 'machine learning']",[],[],[],[],NaN
4695,4695,Senior Python Engineer,"Viyahe Philippines, Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/senior-pyt...,Job Highlights\nCompetitive compensation packa...,Data Engineer,NaN,NaN,NaN,"['AWS Cloud services\n', 'Python']","['integration tests', 'Software Abstraction', ...",[],[],['Computer Science'],[],NaN
4696,4696,Cloud Data Engineers - Perm - Night,Nityo Infotech Services Philippines Inc.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/cloud-data...,Job Description\nRequirements:\nCandidate must...,Data Engineer,NaN,NaN,NaN,"['Google Cloud Platform', 'AWS', 'Azure SQL']","['ETL', 'Data Warehousing', 'Data Warehouse']",['3 year(s)'],"[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology']",[],NaN
4697,4697,ETL Data Integration Developer,"RCG Information Technology (Philippines), Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-data-i...,Job Description\nQualifications: \nBachelor's/...,Data Engineer,NaN,NaN,NaN,"['Azure Data Factory Ingestion Development', '...","['Data Warehouse', 'Data warehouse']",['7+ years'],"[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology',...",[],NaN
4698,4698,ETL Developer / Data Integration Engineer,RingCentral,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-develo...,Job Description\nThe ETL Developer / Data Inte...,Data Engineer,NaN,NaN,NaN,"['Hadoop', 'Salesforce', 'Marketo', 'Tableau',...",['ETL'],['2-4 years'],['BS'],[],[],NaN

In [54]:
df = df.replace(r'\\n',' ', regex=True)

In [55]:
df['Data Skills - Specific'].loc[3953]

"['R', 'Python', 'SQL', 'Tableau', 'Qliksense', 'Diploma', 'Professional Degree ']"

In [56]:
df.head(10)

,Index,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
0,0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"['Spark', 'R', 'Python', 'Scala', 'Google Clou...","['machine learning models', 'statistical theor...",['3 years'],"[""Master's degree"", ""Bachelor's (""]",['quantitative field'],"['60000 - 70000', 'Peso', 'Php60,000.00 - Php7...",NaN
1,1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"['Java', 'Python']","['data transformation', 'pattern recognition',...",['Two years'],[],['Engineering'],[],NaN
2,2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"['Microsoft Power BI', 'SQL', 'Python', 'Power...","['report writing', 'propose workflow', 'statis...",['5 years'],['college technical degree'],[],[],NaN
3,3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"['SAS', 'SPSS', 'R', 'Python', 'Tableau', 'Qli...","['statistical tests', 'distributions', 'maximu...",[],[],"['Statistics', 'Math', 'Computer Science', 'En...",[],NaN
4,4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,[],"['data modelling', 'create algorithms', 'predi...",[],[],"['Data Science', 'Statistics', 'IT', 'math']","['Php80,000.00 per month']",NaN
5,5,Data Scientist (Bootcamp),Novare,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Job Description A Data Scientist(CL1) should ...,Data Scientist,NaN,NaN,NaN,"['Python', 'R', 'Hadoop', 'Spark', 'jupyter no...","['data wrangling', 'machine learning', 'advanc...",[],['Bachelor\x9f??s Degree'],"['Statistics', 'Mathematics', 'Engineering', '...",[],NaN
6,6,Data Scientist,Sprout Solutions PH,NaN,Philippines,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The primary responsibility of a Data Scientist...,Data Scientist,NaN,NaN,NaN,[],"['predictive models', 'statistical', 'machine ...",[],['Bachelor\x9f??s Degree'],"['Computer Science', 'Statistics']",[],NaN
7,7,Data Scientist,GDS Global Services Philippines Inc.,NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Key Skill Requirements Candidate must possess...,Data Scientist,NaN,NaN,NaN,"['R', 'Python', 'SAS', 'SQL', 'Tableau', 'R Sh...","['statistical modelling', 'data analysis', 'ma...","['1 Year(s)', '1-4', 'one year', 'one year exp...","[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology',...",[],NaN
8,8,Data Scientist,Lynx Analytics,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"Founded in 2010, Lynx Analytics is a predictiv...",Data Scientist,NaN,NaN,NaN,"['Python', 'R', 'SAS', 'C', 'JAVA']","['standard modelling', 'data transformation', ...","['2+ years', '3+ years']","['MSc', 'PhD']","['Mathematics', 'Statistics', 'Economics', 'Co...",[],NaN
9,9,Data Scientist,goFLUENT Philippines Inc.,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Proven working experience as a data analyst or...,Data Scientist,NaN,NaN,NaN,"['Excel', 'SQL', 'R', 'SAS', 'Python', 'Tableau']","['statistics', 'data models', 'queries', 'repo...",[],['BS'],"['Mathematics', 'Economics', 'Computer Science...",[],NaN

In [62]:
df['Data Skills - Specific'][0]

"['Spark', 'R', 'Python', 'Scala', 'Google Cloud Platform', 'BigQuery']"

In [129]:
df = df.replace(r'\\x9[fd]\?{0,2}s?',value='',regex=True) #cleaning up the special characters

In [137]:
df = df.replace(r'\\x90',value='',regex=True) #cleaning up the special characters

In [148]:
df = df.replace(r'</ol', value='',regex=True) #cleaning up the special characters

In [161]:
df = df.replace(r'\[]', value='',regex=True) #cleaning up the empty [] cells

In [151]:
df['Salary'][847]

"['02 years']"

In [150]:
df['Data Skills - Specific'][2449]

'[\'iOS\', \'Android\', \'Android studio\', \'Git\', "Map API\'s "]'

In [221]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4699 entries, 0 to 4698
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Job Title               4699 non-null   object
 1   Company                 4699 non-null   object
 2   Industry                1831 non-null   object
 3   Location                4699 non-null   object
 4   Country                 4699 non-null   object
 5   Website                 4699 non-null   object
 6   URL to Job              3562 non-null   object
 7   Job Description         4699 non-null   object
 8   Search Term Used        4699 non-null   object
 9   Age                     1095 non-null   object
 10  Size                    910 non-null    object
 11  EmploymentType          1089 non-null   object
 12  Data Skills - Specific  3416 non-null   object
 13  Data Skills - General   3269 non-null   object
 14  Experience (years)      2254 non-null   object
 15  Education Level         2287 non-null   object
 16  Degree                  2512 non-null   object
 17  Salary                  229 non-null    object
 18  Salary(Provided)        288 non-null    float64
dtypes: float64(1), object(18)
memory usage: 894.2+ KB

In [175]:
df.head(10)

,Index,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
0,0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"['Spark', 'R', 'Python', 'Scala', 'Google Clou...","['machine learning models', 'statistical theor...",['3 years'],"[""Master's degree"", ""Bachelor's (""]",['quantitative field'],"['60000 - 70000', 'Peso', 'Php60,000.00 - Php7...",NaN
1,1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"['Java', 'Python']","['data transformation', 'pattern recognition',...",['Two years'],,['Engineering'],,NaN
2,2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"['Microsoft Power BI', 'SQL', 'Python', 'Power...","['report writing', 'propose workflow', 'statis...",['5 years'],['college technical degree'],,,NaN
3,3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"['SAS', 'SPSS', 'R', 'Python', 'Tableau', 'Qli...","['statistical tests', 'distributions', 'maximu...",,,"['Statistics', 'Math', 'Computer Science', 'En...",,NaN
4,4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,,"['data modelling', 'create algorithms', 'predi...",,,"['Data Science', 'Statistics', 'IT', 'math']","['Php80,000.00 per month']",NaN
5,5,Data Scientist (Bootcamp),Novare,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Job Description A Data Scientist(CL1) should ...,Data Scientist,NaN,NaN,NaN,"['Python', 'R', 'Hadoop', 'Spark', 'jupyter no...","['data wrangling', 'machine learning', 'advanc...",,['Bachelor Degree'],"['Statistics', 'Mathematics', 'Engineering', '...",,NaN
6,6,Data Scientist,Sprout Solutions PH,NaN,Philippines,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The primary responsibility of a Data Scientist...,Data Scientist,NaN,NaN,NaN,,"['predictive models', 'statistical', 'machine ...",,['Bachelor Degree'],"['Computer Science', 'Statistics']",,NaN
7,7,Data Scientist,GDS Global Services Philippines Inc.,NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Key Skill Requirements Candidate must possess...,Data Scientist,NaN,NaN,NaN,"['R', 'Python', 'SAS', 'SQL', 'Tableau', 'R Sh...","['statistical modelling', 'data analysis', 'ma...","['1 Year(s)', '1-4', 'one year', 'one year exp...","[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology',...",,NaN
8,8,Data Scientist,Lynx Analytics,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"Founded in 2010, Lynx Analytics is a predictiv...",Data Scientist,NaN,NaN,NaN,"['Python', 'R', 'SAS', 'C', 'JAVA']","['standard modelling', 'data transformation', ...","['2+ years', '3+ years']","['MSc', 'PhD']","['Mathematics', 'Statistics', 'Economics', 'Co...",,NaN
9,9,Data Scientist,goFLUENT Philippines Inc.,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Proven working experience as a data analyst or...,Data Scientist,NaN,NaN,NaN,"['Excel', 'SQL', 'R', 'SAS', 'Python', 'Tableau']","['statistics', 'data models', 'queries', 'repo...",,['BS'],"['Mathematics', 'Economics', 'Computer Science...",,NaN

In [ ]:
#df.to_csv('df_EskwelabsCapstonev2.csv', index=False)

In [332]:
df = pd.read_csv('df_EskwelabsCapstonev2.csv', index_col='Index')

In [333]:
import ast

In [334]:
#Cleaning data by converting string values to list type and removing duplicates

#Data Skills - Specific
result = []
for value in df['Data Skills - Specific']:
    try:
        result.append(ast.literal_eval(value)) #this will convert a string representation of a list into a real list
    except:
        result.append('') #for empty or NaN values
df['Data Skills - Specific'] = result

result2 = []
for value in df['Data Skills - Specific']:
    mylist = value
    mylist = list(dict.fromkeys(mylist)) #removes duplicates in a list by converting it into a dict (which can't have duplicate keys) then converting it back to a list
    result2.append(mylist)
df['Data Skills - Specific'] = result2

#Data Skills - General

result = []
for value in df['Data Skills - General']:
    try:
        result.append(ast.literal_eval(value)) 
    except:
        result.append('')
df['Data Skills - General'] = result

result2 = []
for value in df['Data Skills - General']:
    mylist = value
    mylist = list(dict.fromkeys(mylist))
    result2.append(mylist)
df['Data Skills - General'] = result2

#Data Skills - Experience (years)

result = []
for value in df['Experience (years)']:
    try:
        result.append(ast.literal_eval(value)) 
    except:
        result.append('')
df['Experience (years)'] = result

result2 = []
for value in df['Experience (years)']:
    mylist = value
    mylist = list(dict.fromkeys(mylist))
    result2.append(mylist)
df['Experience (years)'] = result2

#Data Skills - Education Level

result = []
for value in df['Education Level']:
    try:
        result.append(ast.literal_eval(value)) 
    except:
        result.append('')
df['Education Level'] = result

result2 = []
for value in df['Education Level']:
    mylist = value
    mylist = list(dict.fromkeys(mylist))
    result2.append(mylist)
df['Education Level'] = result2

#Data Skills - Degree

result = []
for value in df['Degree']:
    try:
        result.append(ast.literal_eval(value)) 
    except:
        result.append('')
df['Degree'] = result

result2 = []
for value in df['Degree']:
    mylist = value
    mylist = list(dict.fromkeys(mylist))
    result2.append(mylist)
df['Degree'] = result2

#Data Skills - Salary

result = []
for value in df['Salary']:
    try:
        result.append(ast.literal_eval(value)) 
    except:
        result.append('')
df['Salary'] = result

result2 = []
for value in df['Salary']:
    mylist = value
    mylist = list(dict.fromkeys(mylist))
    result2.append(mylist)
df['Salary'] = result2

In [337]:
df.replace('[]',value='',inplace=True)

In [338]:
df.head()

,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"[Spark, R, Python, Scala, Google Cloud Platfor...","[machine learning models, statistical theory, ...",[3 years],"[Master's degree, Bachelor's (]",[quantitative field],"[60000 - 70000, Peso, Php60,000.00 - Php70,000...",NaN
1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"[Java, Python]","[data transformation, pattern recognition, pre...",[Two years],[],[Engineering],[],NaN
2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"[Microsoft Power BI, SQL, Python, PowerShell, ...","[report writing, propose workflow, statistical...",[5 years],[college technical degree],[],[],NaN
3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"[SAS, SPSS, R, Python, Tableau, QlikView, ggpl...","[statistical tests, distributions, maximum lik...",[],[],"[Statistics, Math, Computer Science, Engineeri...",[],NaN
4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,[],"[data modelling, create algorithms, predictive...",[],[],"[Data Science, Statistics, IT, math]","[Php80,000.00 per month]",NaN

In [339]:
df['Data Skills - Specific'][67]

['R',
 'Python',
 'SAS',
 'Scala',
 'Microsoft Azure',
 'Hadoop',
 'Apache Spark',
 'Impala',
 'Java',
 'JavaScript',
 'Spark',
 'Hive',
 'SQL',
 'ggplot',
 'Business Objects']

In [340]:
df.head(30)

,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"[Spark, R, Python, Scala, Google Cloud Platfor...","[machine learning models, statistical theory, ...",[3 years],"[Master's degree, Bachelor's (]",[quantitative field],"[60000 - 70000, Peso, Php60,000.00 - Php70,000...",NaN
1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"[Java, Python]","[data transformation, pattern recognition, pre...",[Two years],[],[Engineering],[],NaN
2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"[Microsoft Power BI, SQL, Python, PowerShell, ...","[report writing, propose workflow, statistical...",[5 years],[college technical degree],[],[],NaN
3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"[SAS, SPSS, R, Python, Tableau, QlikView, ggpl...","[statistical tests, distributions, maximum lik...",[],[],"[Statistics, Math, Computer Science, Engineeri...",[],NaN
4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,[],"[data modelling, create algorithms, predictive...",[],[],"[Data Science, Statistics, IT, math]","[Php80,000.00 per month]",NaN
5,Data Scientist (Bootcamp),Novare,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Job Description A Data Scientist(CL1) should ...,Data Scientist,NaN,NaN,NaN,"[Python, R, Hadoop, Spark, jupyter notebook, s...","[data wrangling, machine learning, advanced an...",[],[Bachelor Degree],"[Statistics, Mathematics, Engineering, Compute...",[],NaN
6,Data Scientist,Sprout Solutions PH,NaN,Philippines,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The primary responsibility of a Data Scientist...,Data Scientist,NaN,NaN,NaN,[],"[predictive models, statistical, machine learn...",[],[Bachelor Degree],"[Computer Science, Statistics]",[],NaN
7,Data Scientist,GDS Global Services Philippines Inc.,NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Key Skill Requirements Candidate must possess...,Data Scientist,NaN,NaN,NaN,"[R, Python, SAS, SQL, Tableau, R Shiny, Python...","[statistical modelling, data analysis, machine...","[1 Year(s), 1-4, one year, one year experience]",[Bachelor's/College Degree],"[Computer Science, Information Technology, Mat...",[],NaN
8,Data Scientist,Lynx Analytics,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"Founded in 2010, Lynx Analytics is a predictiv...",Data Scientist,NaN,NaN,NaN,"[Python, R, SAS, C, JAVA]","[standard modelling, data transformation, grap...","[2+ years, 3+ years]","[MSc, PhD]","[Mathematics, Statistics, Economics, Computer ...",[],NaN
9,Data Scientist,goFLUENT Philippines Inc.,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Proven working experience as a data analyst or...,Data Scientist,NaN,NaN,NaN,"[Excel, SQL, R, SAS, Python, Tableau]","[statistics, data models, queries, report writ...",[],[BS],"[Mathematics, Economics, Computer Science, Inf...",[],NaN
10,Data Scientist,LeapFroggr Inc.,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Strong problem solving skills with an emphasis...,Data Scientist,NaN,NaN,NaN,"[R, Python, SLQ]","[data architectures, machine learning, cluster...",[],[],[],[],NaN
11,Data Scientist Specialist,Accenture,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Mandatory Technology Capabilities: Experience...,Data Scientist,NaN,NaN,NaN,"[Tableau, SQL, SQL Server, MySQL, Python, R]","[database toolset, problem solving skills, reg...",[],[],[],[],NaN
12,Data Scientist (Makati City),Lennor Metier Consulting Philippines,NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,An exciting Data Scientist (Junior to Senior) ...,Data Scientist,NaN,NaN,NaN,"[R, Python, RapidMiner, Knime, SQL, Statistics]","[predictive models, machine-learning algorithm...","[1 to 3 years, At least, 3 years]",[Bachelor degree],[],[],NaN
13,Data Scientist,Seven Seven Global Services Inc,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Develop advanced analytics/AI/machine learning...,Data Scientist,NaN,NaN,NaN,"[Spark, Python, Java, Ruby, Clojure, Matlab, P...","[advanced analytics, AI, machine learning mode...",[],[],[],[],NaN
14,Data Scientist in BGC,SH HR (BJ),NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,We are looking for a Data Science. Your main ...,Data Scientist,NaN,NaN,NaN,"[MatplotLib, Scikit, Pandas, TensorFlow, Keras...","[Processing, cleansing, SVM, KNN, Naive Bayes,...",[],[University degree],"[Mathematics, Computer science, Physics]",[],NaN
15,Data Scientist,CIBI INFORMATION INC,NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Duties and Responsibilities Analyze business p...,Data Scientist,NaN,NaN,NaN,"[Python, R, SQL, Statistics]","[predictive models, machine-learning algorithm...",[At least 3 years],[],[],[],NaN
16,Data Scientist,John Clements,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Client Industry: BANKING Job Description and Q...,Data Scientist,NaN,NaN,NaN,[],"[Machine Learning, Advanced Analytics, Custome...",[7 years],[University degree],"[Mathematics, Statistics, Computer/IT]",[],NaN
17,Data Scientist,Ortigas & Company,NaN,Ortigas,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"IT Department Date Posted October 6, 2020 Orti...",Data Scientist,NaN,NaN,NaN,"[B.S. Data Science, R, Python, SQL, C, C++, Ja...","[predictive modeling, data analysis, machine l...",[5-7 years],[B.S.],"[Math/ Statistics, B.S. Information, Computer ...",[],NaN
18,Data Scientist (Bootcamp),Novare Technologies Inc,NaN,Philippines,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Job Description A Data Scientist(CL1) should h...,Data Scientist,NaN,NaN,NaN,"[Python, R, Hadoop, Spark, jupyter notebook, s...","[data wrangling, machine learning, advanced an...",[],[],"[Statistics, Mathematics, Engineering, Compute...",[],NaN
19,Data Scientist,Prime Manpower Resources Development Inc,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,RESPONSIBILITIES: ???¦??Work with stakeholder...,Data Scientist,NaN,NaN,NaN,"[R, Python, SLQ, C, C++, Java, JavaScript, Goo...","[predictive modelling, machine learning, clust...",[],[],"[Statistics, Mathematics, Computer Science, qu...",[],NaN
20,Data Scientist - AI Developer,Esco Philippines Inc.,NaN,Pasay,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"Established in 1978, Esco Lifesciences Group i...",Data Scientist,NaN,NaN,NaN,"[Python scikit-learn, R, SAS ML, Spark, H2O, H...","[diagnostics, artificial intelligence models, ...","[Minimum 3 years, 3 years]","[Bachelor, Postgraduate degree]","[Statistics, Mathematics, Artificial Intellige...",[],NaN
21,Data Scientist,Sysgen RPO Inc,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Urgent hiring for Data Scientist! Direct hire ...,Data Scientist,NaN,NaN,NaN,"[Python/, SQL]","[predictive modeling, data mining, forecasting...",[At least],[],[],[],NaN
22,Data Scientist (Machine Learning),Accenture,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Analyzes raw information through statistical a...,Data Scientist,NaN,NaN,NaN,"[R, Python, SAS, Scala, Microsoft Azure, Hadoo...","[statistical analysis, data collection, predic...",[2 years],[Bachelors degree],"[Math, Statistics, Computer Science, Engineering]",[],NaN
23,Data Scientist,"FPG Insurance Co., Inc.",NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,5 or more years of experience manipulating dat...,Data Scientist,NaN,NaN,NaN,"[C, C++, Java, JavaScript, R, Python, SLQ, Goo...","[manipulating data sets, building statistical ...",[5 or more years],[bachelors],"[Statistics, Mathematics, Computer Science, qu...",[],NaN
24,Risk Data Scientist,Home Credit,NaN,Fort Bonifacio,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,You know you are the perfect fit if you are/ha...,Data Scientist,NaN,NaN,NaN,[],"[Numerical optimization, machine learning algo...",[2-3 years],"[BS, PhD]","[Master, Mathematics, Physics, Computer Scienc...",[],NaN
25,Data Scientist (Machine Learning),Accenture,NaN,Manila,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"Responsible for designing, building, and imple...",Data Scientist,NaN,NaN,NaN,"[Python, R, Azure Machine Learning, TensorFlow]","[text analytics, advanced analytics, image ana...",[],[],"[Information Technology, Engineering, Statistics]",[],NaN
26,Data Scientist,Shadow,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Shadow's purpose is to help people help people...,Data Scientist,NaN,NaN,NaN,"[Spark, R, Python, Scala, Google Cloud Platfor...","[machine learning models, statistical theory, ...",[],"[Master's degree, bachelor's degree]",[quantitative field],[],NaN
27,Data Scientist,StackTrek Inc.,NaN,Batangas City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Requirements: Bachelor??s Degree in Computer ...,Data Scientist,NaN,NaN,NaN,"[Python, Microsoft Azure, SQL, SQL databases, ...","[data management, BI Analytics, data cleansing...",[2 years],[Bachelor Degree],"[Computer Science, Engineering, IT]",[],NaN
28,Data Scientist,Important company in the sector,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,DATA SCIENTIST We are looking for a Data Scie...,Data Scientist,NaN,NaN,NaN,"[MatplotLib, Scikit, Pandas, TensorFlow, Keras...","[data pipelines, Processing, cleansing, SVM, K...",[],[University degree],"[Mathematics, Computer science, Physics]",[],NaN
29,Data Scientist,"SG Interactive, Inc.",NaN,Makati,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,What sort of qualifications do I need? Skills...,Data Scientist,NaN,NaN,NaN,"[ASP.NET MVC, HTML5, CSS, JavaScript, jQuery, ...","[Statistics, programming, Machine learning, ba...",[1-3 years],[Bachelor's],"[Computer Science, Computer Engineering, Elect...",[],NaN

In [341]:
#df.to_csv('df_EskwelabsCapstonev3.csv')

In [342]:
df = pd.read_csv('df_EskwelabsCapstonev3.csv',index_col='Index')

In [343]:
df = df.replace('[]',value='') #get rid of empty []

In [344]:
df

,Job Title,Company,Industry,Location,Country,Website,URL to Job,Job Description,Search Term Used,Age,Size,EmploymentType,Data Skills - Specific,Data Skills - General,Experience (years),Education Level,Degree,Salary,Salary(Provided)
Index,,,,,,,,,,,,,,,,,,,
0,Data Scientist,Clark Outsourcing,NaN,Clark Freeport Zone,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Our benefits include: Work directly with an in...,Data Scientist,NaN,NaN,NaN,"['Spark', 'R', 'Python', 'Scala', 'Google Clou...","['machine learning models', 'statistical theor...",['3 years'],"[""Master's degree"", ""Bachelor's (""]",['quantitative field'],"['60000 - 70000', 'Peso', 'Php60,000.00 - Php7...",NaN
1,Data Analyst/ Scientist,"Open iT, Inc.",NaN,Lucena,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,The Data Analyst/Scientist is intricately invo...,Data Scientist,NaN,NaN,NaN,"['Java', 'Python']","['data transformation', 'pattern recognition',...",['Two years'],,['Engineering'],,NaN
2,"Data Analyst, Customer Success",Power Factors,NaN,Santa Rosa City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,"WHO WE ARE We are Power Factors, developer of...",Data Scientist,NaN,NaN,NaN,"['Microsoft Power BI', 'SQL', 'Python', 'Power...","['report writing', 'propose workflow', 'statis...",['5 years'],['college technical degree'],,,NaN
3,Associate Data Scientist,Manulife,NaN,Quezon City,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,Are you looking for unlimited opportunities to...,Data Scientist,NaN,NaN,NaN,"['SAS', 'SPSS', 'R', 'Python', 'Tableau', 'Qli...","['statistical tests', 'distributions', 'maximu...",,,"['Statistics', 'Math', 'Computer Science', 'En...",,NaN
4,Data Scientist,Oak Drive Ventures Inc.,NaN,Taguig,Philippines,Indeed,https://ph.indeed.com/jobs?q=data%20scientist&...,JOB SUMMARY The Data Scientist is directly rep...,Data Scientist,NaN,NaN,NaN,,"['data modelling', 'create algorithms', 'predi...",,,"['Data Science', 'Statistics', 'IT', 'math']","['Php80,000.00 per month']",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,[URGENT] - Solutions Architect (Big Data),YONDU INC.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/[urgent]-s...,Job Description\nRoles and Responsibility of S...,Data Engineer,NaN,NaN,NaN,"['Oracle', 'Teradata', 'PowerBI', 'Tableau', '...","['Data Warehousing', 'ETL', 'machine learning']",,,,,NaN
4695,Senior Python Engineer,"Viyahe Philippines, Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/senior-pyt...,Job Highlights\nCompetitive compensation packa...,Data Engineer,NaN,NaN,NaN,"['AWS Cloud services ', 'Python']","['integration tests', 'Software Abstraction', ...",,,['Computer Science'],,NaN
4696,Cloud Data Engineers - Perm - Night,Nityo Infotech Services Philippines Inc.,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/cloud-data...,Job Description\nRequirements:\nCandidate must...,Data Engineer,NaN,NaN,NaN,"['Google Cloud Platform', 'AWS', 'Azure SQL']","['ETL', 'Data Warehousing', 'Data Warehouse']",['3 year(s)'],"[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology']",,NaN
4697,ETL Data Integration Developer,"RCG Information Technology (Philippines), Inc.",NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-data-i...,Job Description\nQualifications: \nBachelor's/...,Data Engineer,NaN,NaN,NaN,"['Azure Data Factory Ingestion Development', '...","['Data Warehouse', 'Data warehouse']",['7+ years'],"[""Bachelor's/College Degree""]","['Computer Science', 'Information Technology',...",,NaN
4698,ETL Developer / Data Integration Engineer,RingCentral,NaN,National Capital Reg,Philippines,Jobstreet,https://www.jobstreet.com.ph/en/job/etl-develo...,Job Description\nThe ETL Developer / Data Inte...,Data Engineer,NaN,NaN,NaN,"['Hadoop', 'Salesforce', 'Marketo', 'Tableau',...",['ETL'],['2-4 years'],['BS'],,,NaN

In [345]:
#df.to_csv('df_EskwelabsCapstonev3.csv')